{% extends "base.html" %}

{% block title %}DND++ Dashboard{% endblock %}

{% block content %}
<main class="flex-fill">
    <div class="row justify-content-center">
        <div class="col-lg-8 align-items-center">
            <h2 class="mb-0 text-center p-4">{{ page_title }}</h2>
            <div class="d-flex flex-column gap-3 mb-4" id="flexContainer">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0">Sessions</h5>
                        <button class="btn">
                            <i class="bi bi-plus-lg fw-bold"></i>
                        </button>
                    </div>
                    <div class="list-group list-group-flush">

                        {% for session in sessions %}
                        <a class="nav-link d-flex justify-content-between align-items-center p-3 fs-5 list-group-item list-group-item-action"
                            href="#">
                            <span class="fs-5">{{ session.date }}</span>
                            <span class="fs-6">No Audio File</span>
                        </a>
                        {% else %}
                        <div class="card-body text-center p-4">
                            <p class="mb-0 fs-5">No sessions yet.</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0 pt-2 pb-2">Characters</h5>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for character in characters %}
                        <a class="nav-link d-flex justify-content-between align-items-center p-3 fs-5 list-group-item list-group-item-action"
                            href="{{ url_for('show_character', user_url_slug=session.username, character_id_url_slug=character.character_id) }}">
                            <span class="fs-5">{{ character.character_name }}</span>
                            <span class="fs-6">Owner: {{ character.owner_username }}</span>
                        </a>
                        {% else %}
                        <div class="card-body text-center p-4">
                            <p class="mb-0 fs-5">No characters yet.</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% for box in boxes %}
                {% if box.show_all_players == 1 or session.username==owner_username %}
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="mb-0 pt-2 pb-2 header" box-id="{{ box.box_id }}">{{ box.box_title or 'Add
                            Title' }}
                        </h5>
                        {% if box.leaf == 0 %} <!--not a leaf-->
                        <nav>
                            <btn>
                                <img src="/static/images/layout-sidebar-reverse.svg" alt="sidebar"
                                    style="height:28px; vertical-align:middle; padding-right:8px;">
                            </btn>
                            <a
                                href="{{ url_for('show_page', user_url_slug=session.username, page_id_url_slug=box.page_id_forward) }}">
                                <img src="/static/images/fullscreen.svg" alt="fullscreen"
                                    style="height:25px; vertical-align:middle;">
                            </a>
                        </nav>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <span class="fs-6 text" text-id="{{ box.text_id }}">
                            {{ box.text or 'Add Content' }}</span>
                        {% if box.image_file %}
                        <!--TODO Implement-->
                        {% endif %}
                    </div>
                </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
            <div class="card mb-4 hover-card" id="add-card" page-id="{{ page_id }}" onclick="newBox()">
                <div class="card-header d-flex justify-content-center align-items-center">
                    <i class="bi bi-plus-lg fw-bold"></i>
                </div>
            </div>
        </div>
</main>
<script>
    const textElements = document.getElementsByClassName("text");
    for (let i = 0; i < textElements.length; i++) {
        textElements[i].contentEditable = true;
    }
    const headerElements = document.getElementsByClassName("header");
    for (let i = 0; i < headerElements.length; i++) {
        headerElements[i].contentEditable = true;
    }

    function newBox() {
        const newBox = document.createElement("div");

        newBox.className = "card";
        newBox.innerHTML = `
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0 pt-2 pb-2 header">Add Title</h5>
        </div>
        <div class="card-body">
            <span class="fs-6 text">Add Content</span>
        </div>
        `;
        newBox.contentEditable = true;

        // Add to database
        pageId = document.getElementById("add-card").getAttribute("page-id");
        const payload = {
            page_id: pageId
        };

        const blob = new Blob([JSON.stringify(payload)], { type: 'application/json' });
        navigator.sendBeacon('/api/v1/create_box', blob);

        // Add to flexbox container
        document.getElementById("flexContainer").appendChild(newBox);
    };

    window.addEventListener('beforeunload', function () {
        //we redo this to catch newly added items
        const textElements = document.getElementsByClassName("text");
        const headerElements = document.getElementsByClassName("header");

        let allTexts = [];
        let allHeaders = [];

        for (let i = 0; i < textElements.length; i++) {
            const textId = textElements[i].getAttribute('text-id');
            const currentText = textElements[i].innerText;
            allTexts.push({ id: textId, text: currentText });
        }

        for (let i = 0; i < headerElements.length; i++) {
            const boxId = headerElements[i].getAttribute('box-id');
            const currentHeader = headerElements[i].innerText;
            allHeaders.push({ id: boxId, title: currentHeader })
        }

        const payload = {
            texts: allTexts,
            headers: allHeaders
        };
        const blob = new Blob([JSON.stringify(payload)], { type: 'application/json' });
        navigator.sendBeacon('/api/v1/save_on_unload', blob);
    });
</script>
{% endblock %}

<!-- TODO 
 fix bug where changes aren't saved on reload
 change link so that you can open in sidebar/fullscreen
 add delete box
 make sidebar/fullscreen grey if it doesn't exist yet

 make sessions = upcoming only show upcoming three
 make past sessions and show three most recent past sessions
 
 -->
