.hover-card:hover,
.hover-card:focus {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    border-color: #0d6efd;
    /* Bootstrap's primary */
    cursor: pointer;
    transition: box-shadow 0.2s, border-color 0.2s;
}

.icon-grey {
    color: #818487;
}

.icon-black {
    color: #000;
}
